.container {
  height: 350px;
  overflow-y: scroll;
}
.progress-container{
    width:100%;
    height: 8px;
    background: #ccc;
}
.progress-bar{
    height: 8px;
    background: #04AA6D;
    width: 0%;
}